@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

body {
    /* background: var(--paper); */
    color: var(--ink);
    font-family: var(--mono);
    background-size: 240px 240px, auto, auto;
    font-size: 15px;
    line-height: 1.65;
    overflow-x: hidden;
}